# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignora carpeta bin
bin

# Ignora configuración del proyecto eclipse
.project
.settings
.classpath
